* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 10px;
}

ul {
	list-style-type: none;
}

h3.expedius_paneltitle {
	padding: 0px !important;
	margin-top: 10px !important;
	float: left;
	clear: left;
	color: blue !important;
}

header,nav,footer {
	margin: 10px auto;
	width: 100%;
}

header {
	padding: 10px 0px;
	border-bottom: #ccc thin solid;
	float: left;
}

header h1,header img {
	float: left;
	margin: 0px;
	padding: 0px;
	border: none;
}

header h1 {
	margin-left: 10px;
	margin-top: 10px;
}

div.body {
	width: 800px;
	margin: auto;
}

nav {
	float: left;
	width: 150px;
}

nav ul li {
	padding: 10px 0px;
}

nav ul li:hover {
	border-right: blue 5px solid;
}

nav ul li[id]   = div[id] {
	border-right: blue 5px solid;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 14pt;
	display: block;
}

.panel {
-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #eaeaea;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
	background-image: linear-gradient(top, #ffffff, #eaeaea);
	border: 1px solid #ccc;
	border-bottom-color: #aaa;
	border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
	padding: 10px 20px 50px;
	float: left;
	width: 600px;

}


.panel .error {
color:red;
  font-weight:bold;
}

.panel div {
	float: left;
	clear: left;
	margin-left: 10px;
}

.panel div#actionErrors,
.panel div#loginDataStatusMessage,
.panel div#ihaLoginDataStatusMessage,
.panel div#certificateStatusMessage,
.panel div#saved {
	float: right;
	clear: right;
	margin-right: 10px;

}
.panel div#loginActionMessage,
.panel div#certificateActionMessage {
	color:red;
	margin-top:10px;
}

.panel div#actionErrors {
width:45%;
}

.panel div#ihaLoginDataStatusMessage,
.panel div#loginDataStatusMessage,
.panel div#certificateStatusMessage {
	color: green;
	margin-top:10px;
}

.panel div#statusWindow {
	margin: 0px;
	width: 45%;
	margin-left: 10px;
}

.panel div.buttonGroup {
	margin-left: 10px;
}

.panel div#buttonGroupSchedule {
	margin-left: 20px;
	margin-top: 10px;
	width: 95%;
}

img#serverStart {
  margin:0px;
  margin-top:10px;
  margin-right:10px;
}

.panel div.buttonGroup input {
	margin-right: 10px;
}

.panel input[type="radio"] {
	position: relative;
	left: -20px;
	top: -20px;
}

.panel input[type="checkbox"] {
	display: inline-block;
	margin: 0px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
}

.panel img {
	float: right;
	position: relative;
	margin-right: 10px;
	top: -10px;
}

.panel table {
	margin-left: 10px;
	margin-bottom: 10px;
}

.panel table td {
	padding-right: 5px;
}

legend {
	padding: 0 5px;
	margin-left: 10px;
}

fieldset {
	border: 1px solid #999;
	border-radius: 4px;
	display: block;
	margin-left: 20px;
	margin-top: 10px;
	padding: 10px 0px;
	float: left;
	clear: right;
	width: 95%;
}

form {
	float: left;
	width: 100%;
}

footer {
	float: left;
	text-align: center;
	border-top: #ccc thin solid;
	padding: 10px 0px;
	color: #999;
}

footer a {
	color: #999;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: blue;
}

footer span {
	margin: 0px 60px;
}

#statuspage #statusbutton,
#configurationpage #configurationbutton,
#schedulepage #schedulebutton {
	border-right: 5px blue solid;
}

dd,dt,dl {
	float: left;
}

dl {
	width: 100%;
	margin-bottom: 10px;
}

dt {
	clear: left;
	text-align: left;
	width: 20%;
	margin: 3px 0px;
	padding-left: 10px;
}

dd {
	clear: right;
	width: 75%;
	margin: 3px 0px;
}

dd input {
	width: 100%;
}

fieldset h4,fieldset p {
	float: left;
	clear: left;
}

fieldset h4 {
	margin-left: 10px;
	margin-top: 10px;
}

fieldset p {
	margin-left: 20px;
}

#statusField input {
	margin-top: 10px;
}


fieldset #logFile {
	border: black thin inset;
	padding: 0px;
    width:500px;
}

div#logContainer {
	width: 500px;
}

div#logContainer table {
	margin-left: 5px;
	width: 480px;
}


div#logContainer table td {
	padding: 0px 5px;
}

#controlsField input {
	float: left;
}

div#downLoadStatus span {
  display:block;
	margin-top:10px;
  margin-left:10px;
  
}

#dismissableErrorMessages {
	margin-top: 20px;
	width:95%;
	float:left;
	border-collapse:collapse;
}

#dismissableErrorMessages td {
	border-bottom:1px solid #999;
	padding:5px;
	text-align:left;
	vertical-align:top;
}

#dismissableErrorMessages th {
	border-bottom:black thin solid;
	border-top:black thin solid;
	padding: 5px;
}



