<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="expedius" version="2.5">
	<display-name>Expedius</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>Configuration Servlet</description>
		<servlet-name>Configuration</servlet-name>
		<servlet-class>com.colcamex.www.servlet.ConfigurationAction</servlet-class>
	</servlet>
	<servlet>
		<description>Engine Controller</description>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.colcamex.www.servlet.ControllerAction</servlet-class>
	</servlet>
	<servlet>
		<description>Starts the beast</description>
		<servlet-name>Status</servlet-name>
		<servlet-class>com.colcamex.www.servlet.ControllerStatusAction</servlet-class>
	</servlet>
	<servlet>
		<description>The Poll Schedule Page</description>
		<servlet-name>Schedule</servlet-name>
		<servlet-class>com.colcamex.www.servlet.ScheduleAction</servlet-class>
	</servlet>
	<servlet>
		<description>Certificate Installation</description>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.colcamex.www.servlet.CertificateInstallAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Configuration</servlet-name>
		<url-pattern>/configuration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Status</servlet-name>
		<url-pattern>/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Schedule</servlet-name>
		<url-pattern>/schedule</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>*</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>expedius</role-name>
		</auth-constraint>

		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/error.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/pages/error/error.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>404</exception-type>
		<location>/pages/error/404.jsp</location>
	</error-page>

	<context-param>
		<description>Global Properties file</description>
		<param-name>ExpediusProperties</param-name>
		<param-value>/var/lib/expedius/expedius.properties</param-value>
	</context-param>
	<mime-mapping>
		<extension>pfx</extension>
		<mime-type>application/x-pkcs12</mime-type>
	</mime-mapping>
	<listener>
		<listener-class>com.colcamex.www.servlet.ExpediusStartupListener</listener-class>
	</listener>
</web-app>